{% extends "base.html" %}

{% block content %}
<h2>Effectuer une transaction</h2>

<form method="POST" action="{{ url_for('dashboard') }}">
    <label for="friend">Sélectionner une relation :</label>
    <select name="friend" required>
        {% for friend in friends %}
        <option value="{{ friend.id }}">{{ friend.name }}</option>
        {% endfor %}
    </select>

    <input type="text" name="description" placeholder="Description" required>
    <input type="number" name="amount" placeholder="Montant (€)" required>
    <button type="submit">Payer</button>
</form>

<h2>Mes Transactions</h2>
<table>
    <tr>
        <th>Relations</th>
        <th>Description</th>
        <th>Montant</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.friend_name }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.amount }}€</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
